@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about {
    animation: fade 0.8s ease-in-out;
}