header {
    background-color: $negro;
}

main {
    background-color: $gris;
}

footer {
    background-color: $negro;
}

.titulo,
.sitio,
.redes,
.p1,
.link {
    color: $blanco;
}

.img-cover {
    height: 100vh;
    object-fit: cover;
}

.body-formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.formularios {
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    fieldset {
        input {
            &:hover {
                background-color: rgb(4, 0, 0);
                color: rgb(97, 97, 97);
            }

            &:active {
                background-color: rgb(234, 234, 234);
            }
        }
    }
}


.card {
    padding: $espacio + 5;
    border-radius: $radio;
    background: #f5f5f5;

    @include hover-suave;

    h3 {
        margin-bottom: 10px;
    }
}

.producto {
    display: flex;
    justify-content: center;
    gap: $espacio + 10;
    padding-top: $espacio + 10;
    margin-bottom: $espacio * 3;
}

.card-producto img {
    width: 200px;
}

.comentarios-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $espacio;
}


.form-wrapper {
    background: #1a1a1a;
    width: 95%;
    max-width: 520px;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.6s ease-in-out;
}

.logo {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.logo span {
    color: #ebe6e5;
}

.sub {
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


input,
textarea {
    padding: 14px;
    border-radius: 8px;
    border: none;
    background: #262626;
    color: white;
    font-size: 15px;
    transition: 0.2s;
}

input:focus,
textarea:focus {
    outline: none;
    background: #303030;
}

button {
    background: #e10600;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background: #ff1a13;
    transform: scale(1.03);
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.about {
    animation: fade 0.8s ease-in-out;
}


@media(max-width:500px) {

    .img-cover {
        height: 50vh;
    }

    .comentarios-card {
        grid-template-columns: auto;
        place-items: center;
    }

    .producto {
        gap: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        justify-content: space-around;
    }

    .card-producto {
        padding: 10px;
        border-radius: 10px;
    }

    .form-wrapper {
        padding: 22px;
    }

    .logo {
        font-size: 20px;
    }
}