header {
    background-color: $negro;
}

main {
    background-color: $gris;
}

footer {
    background-color: $negro;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.titulo,
.sitio,
.redes,
.p1,
.link {
    color: $blanco;
}