.card {
    padding: $espacio + 5;
    border-radius: $radio;
    background: #f5f5f5;

    @include hover-suave;

    h3 {
        margin-bottom: 10px;
    }
}

.card-producto img {
    width: 200px;
}