.form-wrapper {
    background: #1a1a1a;
    width: 95%;
    max-width: 520px;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.6s ease-in-out;
}

.formularios {
    @include flex(column, center, center);
    flex: auto;
}

form {
    @include flex(column, center, stretch);
    gap: 16px;

    fieldset {
        input {
            &:hover {
                background-color: #111;
                color: $blanco;
            }

            &:active {
                background-color: #eaeaea;
            }
        }
    }
}

input,
textarea {
    padding: 14px;
    border-radius: 8px;
    border: none;
    background: #262626;
    color: $blanco;
    font-size: 15px;
    transition: 0.2s;
}

input:focus,
textarea:focus {
    outline: none;
    background: #303030;
}

button {
    background: #e10600;
    color: $blanco;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
        background: #ff1a13;
        transform: scale(1.03);
    }
}